<section class="container_2">
    <h2 class="title-2">3 Reasons To Purchase</h2>
    <div class="box-mom">
        <h5 class="box 1" class="subtitle-1">ut sed metus</h5>
        <p class="box 11" class="text-container_2">Lorem ipsum dolor sit amet, consecteur</p>
        <h5 class="box 1" class="subtitle-1">curabitur ac erat</h5>
        <p class="box 11" class="text-container_2">Mauris mattis urna quis lorem molestie.</p>
        <h5 class="box 1" class="subtitle-1">Morbi dictum</h5>
        <p class="box 11" class=text-container_2>Aliquiam in dolor et dolor tincidunt</p>

    </div>
    <div class="more_reasons">
        <h2 class="text-mr">more reasons</h2>
    </div>
</section>