<section class="container_2">
    <h2 class="title-2">3 Reasons To Purchase</h2>
    <h5 class="subtitle-1">ut sed metus</h5>
    <p class="text-container_2">Lorem ipsum dolor sit amet, consecteur</p>
    <h5 class="subtitle-2">curabitur ac erat</h5>
    <p class="text-container_2">Mauris mattis urna quis lorem molestie.</p>
    <h5 class="subtitle-3">Morbi dictum</h5>
    <p class=text-container_2>Aliquiam in dolor et dolor tincidunt</p>
    <div class="more_reasons">More Reasons</div>
</section>