<img src="./assets/images/ico-arrow.svg" alt="arrow_icon">
<ul>
    <a href="https://adalab.es/">
        <li>articles</li>
    </a>
    <a href="https://adalab.es/">
        <li>books</li>
    </a>
    <a href="https://adalab.es/">
        <li>events</li>
    </a>
    <a href="https://adalab.es/">
        <li>Reasons</li>
    </a>
    <a href="https://adalab.es/">
        <li>tips</li>
    </a>
</ul>
<ul>
    <a href="https://adalab.es/">
        <li>twitter</li>
    </a>
    <a href="https://adalab.es/">
        <li>instagram</li>
    </a>
    <a href="https://adalab.es/">
        <li>MASTODON.SOCIAL</li>
    </a>
</ul>
&copy; 2021
we 3 component
</footer>