//colors
$color-menu: #0271bc;
$color-title-main: #8ccbea;
$color-background-container_2: #eff9ff;
$color-div: #f26002;
$color-background-footer: #304268;
$color-text-container: #4a4a4a;

//fonts
$font-title: RobotoSlab-;
$font-subtitle: Roboto-Regular;
