.container_1 {
  width: 320px;
  height: 376px;
}
.insomnia {
  padding: 30px 215px 1px 15px;
  color: #8ccbea;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  width: 90px;
  height: 30px;
  margin: 0;
}
.title-1 {
  padding: 1px 15px 15px 15px;
  margin: 0;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
.text-container-1 {
  color: #4a4a4a;
  padding: 15px 15px 30px 15px;
  font-size: 18px;
  line-height: 30px;
}
.go {
  margin-left: 15px;
  border-radius: 22.5px;
  width: 76px;
  height: 45px;
  border-color: #f26002;
  border: solid 2px #f26002;
}
.text-go {
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: #f26002;
}
