* {
  margin: 0;
  width: 100%;
  text-align: center;
}
.container_2 {
  background-color: #eff9ff;
  width: 100%;
  height: 624px;
  @media all and (min-width: 1280px) {
    height: 427px;
  }

  @media all and (min-width: 768px) {
    height: 450px;
    display: flexbox;
    margin-top: -40px;
  }
}
.title-2 {
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  padding: 30px 15px 0px 15px;
  width: 290px;
  height: 30px;
  font-family: "Roboto Slab", serif;
  @media all and (min-width: 768px) {
    text-align: center;
    margin-left: 235px;
  }
  @media all and (min-width: 1280px) {
    margin-left: 275px;
    width: 730px;
    height: 45px;
    font-size: 32px;
  }
}
.box-mom {
  border: dotted 3px green;
  display: grid;
  margin-top: 45px;
  width: 100%;
  height: 400px;
  grid-template-rows: 65px 65px 65px 65px 65px 65px;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 112px 112px;
    height: 225px;
  }
}
.box {
  padding: 30px;
  border: solid 1px red;

  @media all and (min-width: 768px) {
    padding: 30.5px;
  }
}

.more_reasons {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  color: white;
  margin-top: 35px;
  margin-left: 68px;
  background-color: #f26002;
  display: flex;
  align-items: center;

  @media all and (min-width: 768px) {
    margin-left: 290px;
  }
  @media all and (min-width: 1280px) {
    margin-left: 513px;
    width: 255px;
  }
}
.text-mr {
  text-align: center;
}
